.loadingLabel {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  left: 220px;
  top: 150px;
}

#test {
  color: white;
}

.text {
  font-family: "Courier New";
}

#grid {
  display: grid;
  grid-template-columns: repeat(28, 26px);
  grid-template-rows: repeat(31, 26px);
  width: 728px;
  height: 806px;
  background-color: black;
  position: relative;
  background-image: url("../images/maze.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#element {
  position: absolute;
  top: 26px;
  left: 26px;
  width: 26px;
  height: 26px;
  background-color: yellow;
  border-radius: 50%;
  transition: top 1s ease-out, left 1s ease-out;
}

.dot {
  position: absolute;
  background-image: url(../images/pacdot.svg);
  height: 6px;
  width: 6px;
  visibility: visible;
  justify-content: center;
}
